/* ì´ˆê¸°í™” */
* {
    margin: 0;
    padding: 0;
    font: normal 12px "Dotum";
  }
  
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  img {
    border: 0;
  }
  
  #wrapper {
    width: 100%;
  }
  
  /* í—¤ë” */
  header {
    width: 100%;
    height: 100px;
    background-color: #fefefe;
    background-image: url("../imges/header_bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
  }
  
  header > div {
    position: relative;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
  }
  
  header .lnb {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  header .gnb {
    position: absolute;
    bottom: 0px;
    width: 1000px;
    height: 28px;
    z-index: 10;
    background: #becedb;
  }
  
  header .gnb > a {
    float: left;
    display: block;
    width: 200px;
    height: 28px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 28px;
    border-right: 1px solid white;
    box-sizing: border-box;
  }
  
  header .gnb > a:first-child {
    border-left: 1px solid white;
  }
  
  header .gnb > a:hover {
    /* color: #9eafbd; */
  }
  
  header .gnb > nav {
    position: absolute;
    width: 1000px;
    height: 28px;
    background: #becedb;
    bottom: 0px;
    z-index: -10;
    transition-duration: 0.2s;
  }
  
  
  /*
  
  header .gnb > nav:hover {
    bottom: -28px;
  }
  
  header .gnb > a:hover ~ nav {
    bottom: -28px;
  }
  */
  
  header .gnb > nav > ul {
    position: absolute;
    width: 220px;
    height: 28px;
    padding-top: 6px;
  }
  
  .gnb > nav > ul:nth-child(1) {
    left: 40px;
  }
  
  .gnb > nav > ul:nth-child(2) {
    left: 210px;
  }
  
  .gnb > nav > ul:nth-child(3) {
    left: 470px;
  }
  
  .gnb > nav > ul:nth-child(4) {
    left: 600px;
  }
  
  .gnb > nav > ul:nth-child(5) {
    right: 0px;
  }
  
  header .gnb > nav li {
    float: left;
    display: none;
  }
  
  header .gnb > nav a {
    display: inline-block;
    width: 55px;
    height: 18px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-align: center;
    box-sizing: border-box;
    line-height: 18px;
  }
  
  .gnb > a:nth-child(1):hover ~ nav > ul:nth-child(1) > li {
    display: block;
  }
  
  .gnb > nav > ul:nth-child(1):hover > li {
    display: block;
  }
  
  .gnb > a:nth-child(2):hover ~ nav > ul:nth-child(2) > li {
    display: block;
  }
  
  .gnb > nav > ul:nth-child(2):hover > li {
    display: block;
  }
  
  .gnb > a:nth-child(3):hover ~ nav > ul:nth-child(3) > li {
    display: block;
  }
  
  .gnb > nav > ul:nth-child(3):hover > li {
    display: block;
  }
  
  .gnb > a:nth-child(4):hover ~ nav > ul:nth-child(4) > li {
    display: block;
  }
  
  .gnb > nav > ul:nth-child(4):hover > li {
    display: block;
  }
  
  .gnb > a:nth-child(5):hover ~ nav > ul:nth-child(5) > li {
    display: block;
  }
  
  .gnb > nav > ul:nth-child(5):hover > li {
    display: block;
  }
  
  .gnb > nav > ul > li > a:hover {
    color: #333333;
  }
  
  /* í‘¸í„° */
  footer > #address {
    border-top: 1px solid #b9cadc;
  }
  
  #address > .logo {
    float: left;
    padding-top: 14px;
  }
  
  footer {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
  }
  
  footer > div > p {
    font-size: 11px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 20px;
    color: #555;
    line-height: 20px;
  }
  
  footer > div > p > #copy {
    display: inline-block;
    font-family: Verdana;
    color: rgb(153, 153, 153);
    padding-top: 4px;
  }
  
  footer > div > p #resort {
    color: #5d99b5;
  }
  
  /* indexë©”ì¸ */
  #content {
    padding-top: 28px;
  }
  
  #content > .mama {
    position: relative;
    width: 1000px;
    height: 620px;
    margin: 0 auto;
    background: url("../imges/main_fade_bg1.png");
  }
  
  /*
  #content > .mama:hover {
    background: url("../img/main_fade_bg1.png");
    transition-duration: 1.5s;
  }
  */
  
  .mama > #article > .box1 > img:nth-child(1) {
    margin-top: -28px;
  }
  #article > .box1 > img:nth-child(2) {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  #content > div:nth-child(1) {
    position: absolute;
  }
  
  #content > .mama > #article > div:nth-child(1) {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    background: url("../imges/main_box1_bg.png");
  }
  
  #content > .mama > #article > div:nth-child(2) {
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 0;
    background: url("../imges/main_box2_bg.png");
  }
  
  #content > .mama > #article > div:nth-child(3) {
    width: 200px;
    height: 200px;
    left: 400px;
    top: 0;
    position: absolute;
    background: url("../imges/main_box3_bg.png");
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  #content > .mama > #article > div:nth-child(3) > img:nth-child(1) {
    position: absolute;
    margin-left: 10px;
    left: 20px;
    top: 0;
  }
  
  #content > .mama > #article > div:nth-child(4) {
    width: 200px;
    height: 200px;
    left: 600px;
    top: 0;
    position: absolute;
    background: url("../imges/main_box4_bg.png");
    text-align: left;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  #content > .mama > #article > div:nth-child(5) {
    width: 200px;
    height: 200px;
    left: 0;
    top: 200px;
    position: absolute;
    background: url("../imges/main_box5_bg.png");
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  #content > .mama > #article > div:nth-child(5) {
    width: 200px;
    height: 200px;
    background: url("../imges/main_box5_bg.jpg") no-repeat;
    position: absolute;
    top: 200px;
  }
  
  #content > .mama > #article > div:nth-child(5) > img {
    position: absolute;
    right: 0;
    top: 0;
  }
  #content > .mama > #article > div:nth-child(6) {
    width: 200px;
    height: 200px;
    background: url("../imges/main_box6_bg.jpg") no-repeat;
    position: absolute;
    top: 200px;
    left: 200px;
  }
  
  #content > .mama > #article > div:nth-child(6) > img {
    float: right;
  }
  
  #content > .mama > #article > div:nth-child(7) {
    width: 200px;
    height: 200px;
    background: url("../imges/main_box7_bg.png");
    position: absolute;
    top: 400px;
    left: 200px;
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  #content > .mama > #article > div:nth-child(7) > img:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  #content > .mama > #article > div:nth-child(7) > img:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 50px;
  }
  
  #content > .mama > #article > div:nth-child(7) > img:nth-child(3) {
    position: absolute;
    left: 22px;
    top: 105px;
  }
  
  #aside {
    position: relative;
  }
  
  #aside > img:nth-child(1) {
    position: fixed;
    right: 136px;
    top: 142px;
    width: 34px;
    height: 137px;
  }
  
  #aside > img:nth-child(2) {
    background-position: center;
    position: fixed;
    right: 148px;
    top: 165px;
    width: 32px;
    height: 130px;
    z-index: 1000;
    width: 13px;
    height: 100px;
  }
  
  #latest {
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    border-top: 1px solid #becedb;
    padding-top: 20px;
  }
  
  #latest > div {
    width: 250px;
    height: 130px;
    float: left;
    margin: 0 auto;
  }
  
  #latest > div > img:nth-child(1) {
    display: block;
  }
  
  .info1 > img:nth-child(1) {
    padding-bottom: 10px;
  }
  
  .info2 > img:nth-child(1) {
    padding-bottom: 6px;
  }
  
  
  .info2 tr > td {color: gray; line-height: 18px;}
  .info2 tr > td a {color: #555;}
  
  .info3 > img:nth-child(1) {
    padding-bottom: 6px;
  }
  
  .info3 tr > td {color: gray; line-height: 18px;}
  .info3 tr > td a {color: #555;}
  
  #gal > a > img {
    width: 75px;
    height: 55px;
  }
  
  #gal > a {
    padding-top: 16px;
    display: inline-block;
    width: 75px;
    height: 55px;
  }
  
  /* ì¸ì‚¬ë§ ë©”ì¸ */
  
  #subMain > div {
    width: 1000px;
    min-height: 756px;
    background: #efefef;
    margin: 0 auto;
  }
  
  #subMain > div > div {
    width: 1000px;
    height: 116px;
    background: url("../imges/sub_top_img.png");
  }
  
  #subMain section {
    overflow: hidden;
    width: 1000px;
  }
  
  #subMain section > aside {
    float: left;
    width: 200px;
    height: 640px;
    background: #fff;
  }
  
  #subMain section > aside > img:nth-child(1) {
    margin-left: -1px;
  }
  
  #subMain section > article {
    float: left;
    width: 800px;
    height: 640px;
  }
  
  #aside {
    position: relative;
  }
  
  #aside > img:nth-child(1) {
    position: absolute;
    right: 138px;
    top: -640px;
    width: 34px;
    height: 137px;
  }
  
  #aside > img:nth-child(2) {
    background-position: center;
    position: absolute;
    right: 148px;
    top: -612px;
    width: 32px;
    height: 130px;
    z-index: 1000;
    width: 13px;
    height: 100px;
  }
  
  section > aside {
    position: relative;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    box-sizing: border-box;
  }
  
  section > aside > a:nth-child(2) {
    position: absolute;
    top: 74px;
    left: 20px;
  }
  section > aside > a:nth-child(3) {
    position: absolute;
    top: 94px;
    left: 20px;
  }
  
  section > article {
    position: relative;
  }
  
  section > article > #sub1 {
    position: absolute;
    left: 35px;
    top: 20px;
    width: 770px;
    height: 42px;
    border-bottom: 1px solid #becedb;
  }
  
  #sub1 > p {
    font-size: 11px;
    position: absolute;
    right: 12px;
    top: 0px;
    font-family: "dotum";
    color: #8c8c8c;
  }
  
  #sub1 > p > strong {
    color: #8c8c8c;
  }
  
  #sub1 #ment {
    color: #7f97ac;
  }
  article > #sub2 {
    position: absolute;
    top: 103px;
    left: 35px;
    width: 765px;
    height: 100%;
    background: url("../imges/sub1_menu1_bg.jpg") no-repeat;
  }
  
  #sub2 > img:nth-child(1) {
    position: absolute;
    top: 142px;
    right: 0px;
  }
  
  #sub2 > img:nth-child(2) {
    position: absolute;
    top: 172px;
    left: 32px;
  }
  